history/
errors/
update-ipsets*
iprange*
ipv4_range_to_cidr.awk
*.setinfo
*.source
*.lastchecked
*.tmp
.cache
.warn_if_last_downloaded_before_this
sorbs_*.ipset
sorbs_*.netset
dronebl_*.ipset
dronebl_*.netset
dragon_*.ipset
dragon_*.netset
bogons.netset
fullbogons.netset
iblocklist_proxies.*set
iblocklist_spyware.*set
iblocklist_badpeers.*set
iblocklist_hijacked.*set
iblocklist_webexploit.*set
iblocklist_level1.*set
iblocklist_level2.*set
iblocklist_level3.*set
iblocklist_edu.*set
iblocklist_rangetest.*set
iblocklist_bogons.*set
iblocklist_ads.*set
iblocklist_org_microsoft.*set
iblocklist_spider.*set
iblocklist_dshield.*set
iblocklist_iana_reserved.*set
iblocklist_iana_private.*set
iblocklist_iana_multicast.*set
iblocklist_fornonlancomputers.*set
iblocklist_exclusions.*set
iblocklist_forumspam.*set
ib_*.ipset
ib_*.netset
